{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Kasia Latek{% endblock %}


{% block body %}

 
 <div class="container-fluid d-flex flex-column p-0">
    <h1 style="display:none">Marki — praktyka jogi i ćwiczenia pilates dla dorosłych</h1>

    <button type="button" class="btn shadow z-3" id="btn-back-to-top">
        <i style="color: #fef9f3 !important;" class="bi bi-arrow-up h2"></i>
    </button>

    <header>
        <nav class="navbar fixed-top navbar-expand-lg bg-light p-0 shadow" style="min-height: 68px; background-color: #fef9f3 !important;">
            <div class="container-fluid d-flex flex-row">
             
                    <div class="navbar-brand d-flex align-items-center">
                    <img src="{{ asset ('img/Kasia_logo_www.webp')}}" width="60" height="60" alt="Logo" title="Kasia Latek | Pilates i joga" class="d-inline-block align-text-top me-1">
                        Kasia Latek | Pilates i joga
                    </div>
                    
                    <div class="d-flex justify-content-end">
                        <div id="nav-icon3" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                
                <div class="collapse navbar-collapse flex-grow-1 text-center" id="navbarNav">
                    <ul class="navbar-nav ms-auto flex-nowrap">
                        {# <li class="nav-item">
                            <a href="#" class="nav-link"><i class="bi bi-house-door"></i></a>
                        </li> #}
                        <li class="nav-item">
                            <a href="#omnie" title="O mnie" class="nav-link">O mnie</a>
                        </li>
                        <li class="nav-item">
                            <a href="#oferta" title="Oferta" class="nav-link">Oferta</a>
                        </li>
                        <li class="nav-item">
                            <a href="#grafik" title="Grafik" class="nav-link">Grafik</a>
                        </li>
                        <li class="nav-item">
                            <a href="#cennik" title="Cennik" class="nav-link">Cennik</a>
                        </li>
                        <li class="nav-item">
                            <a href="#rejestracja" title="Rejestracja" class="nav-link">Rejestracja</a>
                        </li>
                        <li class="nav-item">
                            <a href="#kontakt" title="Kontakt" class="nav-link">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div id="intro" class="bg-image shadow" title="Kasia Latek, instruktorka pilatesu i jogi"></div>
    </header>

    <div id="main" style="margin-top: 68px;">
        <div class="container">
            <!--Section: O mnie-->
            <section>
                    <div id="omnie" class="row">
                        <div data-aos="fade-up" class="col-md-6 gx-5 mb-4">
                            <div class="bg-image">
                                <picture>
                                    <source media="(max-width:991px)" srcset="{{ asset('img/omnie.webp') }}">
                                    <source media="(min-width:992px)" srcset="{{ asset('img/omnie_large.webp') }}">
                                    <img src="{{ asset ('img/omnie.webp')}}" width="600" height="600" alt="Uśmiechnięta kobieta o blond włosach" title="Kasia Latek, instruktorka pilatesu i jogi" class="img-fluid shadow rounded-3"/>
                                </picture>
                            </div>
                        </div>

                        <div data-aos="fade-up" class="col-md-6 gx-5 mb-4">
                            <h2><strong>O mnie</strong></h2>
                            <p class="lead">
                            Jestem instruktorką pilatesu na macie i jogi, pasjonatką wielu form ćwiczeń z zakresu body&mind.
                            Mam bogate kwalifikacje <i id="ikonaKwalifikacje" class="bi link-primary bi-box-arrow-up-right" data-bs-toggle="modal" data-bs-target="#kwalifikacje"></i>
                             i regularnie je podwyższam, aby dzielić się wiedzą na zajęciach. Uwielbiam eksperymentować,
                            eksplorować nowe dziedziny i wprowadzać do praktyki element zabawy.
                            </p>
                            <p class="lead">
                            Zależy mi przede wszystkim, żebyście czuli się dobrze i blisko samych siebie, wychodzili z zajęć zdrowsi, zrelaksowani i w dobrych humorach.
                            </p>
                            <p class="lead">
                            Co robię poza matą? Jestem dziennikarką, trenuję pole dance, regularnie medytuję i mam dużo kotów.
                            </p>

                            <div class="modal fade" id="kwalifikacje" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content border-0 shadow">
                                    <div class="modal-header">
                                        <p class="modal-title fs-5" id="staticBackdropLabel">Kursy i szkolenia</p>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul>
                                            <li>Instruktor sportu ze specjalizacją pilates (Polska Akademia Sportu)</li>
                                            <li>Szkolenie stretching (Akademia Zdrofit)</li>
                                            <li>Kurs Pilates Core</li>
                                            <li>Szkolenie Zdrowy kręgosłup (Akademia Zdrofit)</li>
                                            <li>Kurs nauczycielski Joga powięziowa (Yoga Alliance Continuing Education Provider - YACEP)</li>
                                            <li>Kurs Joga w menopauzie (YACEP)</li>
                                            <li>Szkolenie Joga dla Seniora (YACEP)</li>
                                            <li>Kurs nauczycielski Restorative Yoga (YACEP)</li>
                                            <li>Kurs Vınyasa Krama (YACEP)</li>
                                            <li>Kurs nauczycielski Medytacja krok po kroku (YACEP)</li>
                                            <li>Kurs Joga nidra — sztuka relaksacji (YACEP)</li>
                                            <li>W TRAKCIE - kurs RYT200 Yoga Alliance (200-hour yoga teacher training, vinyasa yoga)</li>
                                        </ul>
                                    </div>
                                    {# <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Understood</button>
                                    </div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <div id="miejsce" class="row">
                    <div data-aos="fade-up" class="col-md-6 gx-5 mt-4">
                        <h2><strong>Miejsce</strong></h2>
                        <p class="lead">
                        Ćwiczymy w przestronnej sali w przedszkolu Pastelowy Gaj na ul. Pastelowej 19 w Markach.
                        </p>
                        <p class="lead">
                        Możesz mieć własną matę, ale mamy je także na miejscu.
                        </p>
                    </div>
                    <div data-aos="fade-up" class="col-md-6 gx-5 mt-4">

                        <div id="pastelowaCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner shadow rounded-3 mt-4">
                                <div class="carousel-item active">
                                    <img src="{{ asset ('img/sala.webp')}}" class="w-100" alt="Puste pomieszczenie z dużymi oknami" title="Sala, w której odbywają sie zajęcia pilates i joga"/>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset ('img/pastelowy_gaj.webp')}}" class="w-100" alt="Dwupiętrowy budynek przedszkola" title="Przedszkole Pastelowy Gaj"/>
                                </div>
                            </div>
                        </div>

                      {# <img src="img/pastelowy_gaj_1600X1000.webp" class="img-fluid shadow rounded-3" /> #}

                    </div>
                </div>
              </section>
            <!--Section: O mnie-->

      <hr/>

      <!--Section: Oferta-->
      <section id="oferta">
        <h2 data-aos="fade-up" data-aos-offset="200" class="display-2 mb-5 text-center"><strong>Oferta</strong></h2>

        <div class="row justify-content-around">
          <div data-aos="fade-right" class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow border-0 h-100" style="border-radius: 10px;">
              <div class="bg-image">
                {# <img src="img/pexels-lucas-pezeta-9351349_1600x1000.webp" class="img-fluid" style="border-radius: 10px 10px 0 0;"/> #}
                <img style="border-radius: 10px 10px 0 0;" src="{{ asset ('img/joga2.webp')}}" width="800" height="500" class="img-fluid" alt="Kobieta ćwicząca jogę" title="Joga - pozycja pługa, halasana"/>
                
              </div>
              <div class="card-body text-start">
                <h3 data-aos="fade-up">Joga</h3>
                <div data-aos="fade-up">
                    <p class="lead">
                    Joga nie jest jedynie zestawem ćwiczeń fizycznych, ale również filozofią życiową. Opiera się na przekonaniu, 
                    że ciało, umysł i dusza są ze sobą powiązane.
                    </p>
                    <p class="lead">
                    Niezależnie od tego, z jaką intencją rozpoczynasz praktykę jogi, odnajdziesz w niej coś dla siebie. 
                    Sprawniejsze ciało, lepszy z nim kontakt, więcej spokoju, głębszy oddech, poczucie, że jesteś tu i teraz – to tylko początek długiej listy korzyści.
                    </p>
                    <p class="lead">
                    Na macie spotykamy się niezależnie od poziomu zaawansowania. W praktyce korzystam z dziedzictwa klasycznej hatha yogi, 
                    wykorzystuję elementy jogi dla kręgosłupa, pracy z powięzią, restorative yoga (jogi regenerującej). 
                    Praktyka zawiera też elementy pracy z oddechem i kończy się głębokim relaksem.
                    </p>
                </div>
                {# <a href="#!" class="btn btn-primary">Button</a> #}
              </div>
            </div>
          </div>

          <div data-aos="fade-left" class="col-lg-6 col-md-12 mb-4">
            <div class="card shadow border-0 h-100" style="border-radius: 10px;">
              <div class="bg-image">
                {# <img src="img/pexels-andrea-piacquadio-868483_1600x1000.webp" class="img-fluid" style="border-radius: 10px 10px 0 0;"/> #}
                <img style="border-radius: 10px 10px 0 0;" src="{{ asset ('img/pilates.webp')}}" width="800" height="500" class="img-fluid" alt="Kobieta ćwicząca pilates" title="Pilates - pozycja wzmacniająca mięśnie core"/>
                
              </div>
              <div class="card-body text-start">
                <h3 data-aos="fade-up">Pilates</h3>
                <div data-aos="fade-up">
                    <p class="lead">
                    Pilates wielu osobom kojarzy się głównie z maszynami. Tak, istnieje pilates na maszynach (reformer, cadillac, beczka, krzesło), ale to także – a właściwie przede wszystkim – system ćwiczeń na macie, czasem z drobnymi przyrządami.
                    </p>
                    <p class="lead">
                    Większość ćwiczeń opiera się na ciężarze własnego ciała i zakłada wzmocnienie mięśni core, czyli całego centrum ciała – brzucha, pleców, mięśni głębokich. A to poprawia postawę i wzmacnia kręgosłup, o korzyściach dla sylwetki nie wspominając. Pilates poprawia też gibkość, elastyczność i mobilność.
                    </p>
                    <p class="lead">
                    Nie ma znaczenia czy masz doświadczenie z pilatesem, czy dopiero chcesz spróbować. Zapraszam wszystkich!
                    </p>
                </div>
                {# <a href="#!" class="btn btn-primary">Button</a> #}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Oferta-->

      <hr/>

      <!--Section: Grafik-->
      <section id="grafik">
        <h2 data-aos="fade-right" class="display-2 mb-5 text-center"><strong>Grafik</strong></h2>
        <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
            <div class="col-12 pb-5">
                <div data-aos="fade-left" id="calendar" class="container-fluid mw-100"></div>
            </div>
        </div>
      </section>
    </div>
        <!--Section: Grafik-->

      <hr/>

    <!--Section: Cennik-->
    <section id="cennik">
        <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
            <h2 data-aos="fade-left" class="display-2 mb-5 text-center"><strong>Cennik</strong></h2>
            <div data-aos="fade-right" class="container col-md-6">
                <table class="table">
                    <thead>
                        <tr class="">
                            <th class="table-color" scope="col">Usługa</th>
                            <th class="table-color text-center" scope="col">Cena</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th class="table-color" scope="row">Joga/pilates — wejście jednorazowe</th>
                            <td class="table-color text-center">35&nbspzł</td>
                        </tr>
                        <tr>
                            <th class="table-color" scope="row">Joga/pilates - 4&nbspwejścia / 30&nbspdni</th>
                            <td class="table-color text-center">120&nbspzł</td>
                        </tr>
                        <tr>
                            <th class="table-color" scope="row">Joga/pilates - 8&nbspwejść / 30&nbspdni</th>
                            <td class="table-color text-center">200&nbspzł</td>
                        </tr>
                        <tr>
                            <th class="table-color" scope="row">Pilates - 4&nbspwejścia / 45&nbspdni</th>
                            <td class="table-color text-center">120&nbspzł</td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-color col-lg p-2">UWAGA!!! Rozliczamy się na miejscu i tylko gotówką lub blikiem na numer telefonu.</div>
            </div>
        </div>
    </section>
    </div>
    <!--Section: Cennik-->

      <hr/>
    <!--Section: Rejestracja-->
    <section>
        <div id="rejestracja" class="container-fluid carousel slide" data-bs-touch="true" data-bs-wrap="false">

                    <div class="carousel-inner h-100">

                        <div class="carousel-item active">
                            <div id="rejestracja1" class="slajd container d-flex flex-column align-items-center justify-content-center col-9">
                                <h2 data-aos="fade-up" data-aos-offset="240" class="display-2 mb-5 text-center"><strong>Rejestracja</strong></h2>
                                <div data-aos="fade-up" data-aos-offset="200" class="row align-items-center">

                                    <div class="col-lg-6 d-inline lead">
                                        <div class="text-center p-4"><img class="efitness-logo rounded-3" style="aspect-ratio: 1/1"
                                                                    src="{{ asset('img/efitnessapp_logo.webp') }}" alt="Logo eFitness App"/></div>
                                        <p>Do rejestracji w klubie oraz rezerwacji miejsc na poszczególne zajęcia polecamy w
                                            pełni darmową aplikację eFitness App.</p>
                                    </div>

                                    <div class="col d-flex align-items-center justify-content-center flex-wrap">

                                        <div class="d-flex flex-column">
                                            <a href="https://play.google.com/store/apps/details?id=pl.efitness.mobile&hl=pl"><img class="m-2 google-play" src="{{ asset('img/google_play.webp') }}" width="180" height="51" alt="Logo Google Play"></a>
                                            <a href="https://itunes.apple.com/pl/app/efitnessapp/id1054978020?l=pl&mt=8"><img class="m-2 app-store" src="{{ asset('img/appstore.webp') }}" width="180" height="51" alt="Logo App Store"></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div id="rejestracja2" class="slajd container d-flex flex-column align-items-center justify-content-center col-10">

                                <h2 data-aos="fade-up" data-aos-offset="240" class="display-2 mb-5 text-center"><strong>eFitness App to:</strong></h2>

                                <div data-aos="fade-up" data-aos-offset="200" class="row align-items-start">
                                    <div class="col-lg pb-3">
                                        <div class="text-center"><i class="bi bi-calendar3-week h2"></i></div>
                                        <div class="p-2 lead">Łatwy dostęp do grafiku zajęć na każdy dzień.</div>
                                    </div>
                                    <div class="col-lg pb-3">
                                        <div class="text-center"><i class="bi bi-calendar-check h2"></i></div>
                                        <div class="p-2 lead">Szybki zapis na zajęcia, w zaledwie dwóch kliknięciach.</div>
                                    </div>
                                    <div class="col-lg pb-3">
                                        <div class="text-center"><i class="bi bi-x-square h2"></i></div>
                                        <div class="p-2 lead">Odwoływanie rezerwacji miejsca na zajęciach.</div>
                                    </div>
                                    <div class="col-lg pb-3">
                                        <div class="text-center"><i class="bi bi-arrow-left-right h2"></i></div>
                                        <div class="p-2 lead">Informacje o listach rezerwowych i zastępstwach.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div id="rejestracja3" class="slajd container d-flex flex-column align-items-center justify-content-center col-10">

                                <h2 data-aos="fade-up" data-aos-offset="240" class="display-2 mb-5 text-center"><strong>Instalacja apki</strong></h2>

                                <div data-aos="fade-up" data-aos-offset="200" class="row align-items-start">
                                    <div class="col-lg pb-3">
                                        <div class="text-center"><i class="bi bi-fingerprint h2"></i></div>
                                        <div class="p-2 lead">Przy pierwszym uruchomieniu aplikacji trzeba potwierdzić tożsamość, korzystając z konta Google lub Apple ID.</div>
                                    </div>
                                    <div class="col-lg pb-3">
                                        <div class="text-center"><i class="bi bi-door-open h2"></i></div>
                                        <div class="p-2 lead">Następnie z listy klubów wybieramy <span class="fw-bold">Kasia Latek – Pilates i joga</span>. Klikamy Wejdź do klubu i rejestrujemy się.</div>
                                    </div>
                                    <div class="col-lg pb-3">
                                        <div class="text-center"><i class="bi bi-calendar3 h2"></i></div>
                                        <div class="p-2 lead">Żeby zapisać się na zajęcia w dolnym menu wybieramy <span class="fw-bold">Grafik</span>. Obsługa karnetów dostępna jest w zakładce <span class="fw-bold">Profil</span>.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#rejestracja" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#rejestracja" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#rejestracja" data-bs-slide-to="0" class="indi-btn indicator active"
                                aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#rejestracja" data-bs-slide-to="1" aria-label="Slide 2" class="indi-btn"></button>
                        <button type="button" data-bs-target="#rejestracja" data-bs-slide-to="2" aria-label="Slide 3" class="indi-btn"></button>
                    </div>

        </div>
        
    </section>

    <div class="modal fade" id="numerTelefonu" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabelTel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow border-0">
                <div class="modal-header border-0">
                    <p class="modal-title fs-5" id="staticBackdropLabelTel">+48 603 250 073</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-header">
                    <p class="modal-title fs-5" id="">Telefon odbierze Bernard</p>
                </div>
                {# <div class="modal-body">
                </div> #}
                {# <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div> #}
            </div>
        </div>
    </div>
    
    <footer data-aos="zoom-in" data-aos-offset="200" id="kontakt"
        class="container-fluid d-flex flex-column align-items-center justify-content-center min-vh-100 min-vw-100">
        
        <span><img data-aos="fade-up" style="width: 25rem; aspect-ratio: 669/709; padding: 1rem" src="{{ asset('img/Kasia_logo_ok_KONTRA_darkorange.webp') }}" alt="Logo"/></span>
        
        <div class="social d-flex justify-content-around">
            
            <span data-aos="zoom-out" data-aos-offset="80" data-aos-delay="100" class="m-1"><a class="social-icon p-2 text-body-secondary"
                                      href="mailto:kontakt@jogawmarkach.pl?subject=Zapytanie ze strony JogawMarkach.pl"
                                      title="email"><i class="bi bi-envelope"></i></a></span>
            <span data-aos="zoom-out" data-aos-offset="80" data-aos-delay="300" class="m-1"><a class="social-icon p-2 text-body-secondary"
                                      href="https://www.m.me/101829889521117" title="messenger"><i
                                      class="bi bi-messenger"></i></a></span>
            <span id="telefon" data-bs-toggle="modal" data-bs-target="#numerTelefonu" data-aos="zoom-out" data-aos-offset="80" data-aos-delay="500" class="m-1"><a class="social-icon p-2 text-body-secondary"
                                      title="telefon"><i class="bi bi-telephone-fill"></i></a></span>
            <span data-aos="zoom-out" data-aos-offset="80" data-aos-delay="700" class="m-1 text-center"><a class="social-icon p-2 text-body-secondary"
                                      href="https://www.facebook.com/KasiaLatekJoga" title="facebook"><i
                                      class="bi bi-facebook"></i></a></span>
            <span data-aos="zoom-out" data-aos-offset="80" data-aos-delay="900" class="m-1"><a class="social-icon p-2 text-body-secondary"
                                      href="https://www.instagram.com/kasia_latek" title="instagram"><i
                                      class="bi bi-instagram"></i></a></span>
        </div>

    </footer>


 </div>   

 

{% endblock %}